<div class="ui raised segment">  
  <h2 class="ui header">Form básico</h2>  
  <form 
    #f="ngForm"   
    (ngSubmit)="onSubmit(f)"  
    class="ui form"
  >
 
    <div class="field">  
      <label for="campoID">ID</label>  
      <input type="text"  
             id="campoID"  
             placeholder="ID"  
             name="campoID" ngModel>  
    </div>
 
    <button type="submit" class="ui button">Enviar</button>  
  </form>  
</div>
<div>
  <h2>Utilizando outro form - meuForm</h2>
  <form [formGroup]="meuForm"
  (ngSubmit)="onSubmit02(meuForm)"  > <!--Aqui dizemos ao angular que o meuForm será o FormGroup-->
    <label for="NovoCampoID">Novo ID</label>  
    <input type="text"  
      id="skuInput"  
     placeholder="SKU"  
     [formControl]="meuForm.controls['novoCampo']">
     <button type="submit" class="ui button">Enviar 02</button>  
  <div *ngIf="!meuForm.hasError('required')">
    Campo é obrigatório
  </div>
  <div *ngIf="!meuForm.valid">
    form é inválido
  </div>  

  </form>
</div>